.pokeshop-wrapper {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.pokemon-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.pokemon-grid-item {
  position: relative;
  padding-bottom: 100%;
  border: 2px solid white;
  background-color: var(--dark-green);
}

.pokemon-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.pokemon-content img {
  width: 80%;
  height: auto;
  max-width: 100%;
}

.pokemon-content p {
  font-size: 3rem;
  margin: 0;
}

.pokeshop-buttons {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  margin: 1rem 2rem 1rem 2rem;
}

.pokeshop-page-number {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-per-page {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 2rem;
}

.items-per-page select {
  margin: 1rem;
  padding: 0.5rem;
}

/* SIDEBAR */
.sidebar-wrapper {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background-color: var(--dark-green);
  border: 2px solid white;
  font-size: 2rem;
}

/* SORT */
.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.sort-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.sort-buttons button {
  flex-grow: 1;
  margin: 1rem;
  height: auto;
  color: white;
  border-color: white;
}

.sort .active {
  background-color: var(--blue);
}

.sort-buttons button:hover {
  border-color: white;
  color: white;
}

/* RANGE */
