.checkout-section {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.checkouts {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.checkout {
  width: 100%;
  height: auto;
  min-height: 3.5rem;
  margin: 2rem 1rem 0 1rem;
  box-sizing: border-box;
  background-color: black;
  border: 2px var(--blue) solid;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.checkout-section h1 {
  font-size: 5rem;
}

.checkoutForm {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkoutForm input {
  font-size: 2rem;
  width: 50%;
}

.checkoutForm button {
  padding: 1rem;
  width: 50%;
}

@media (max-width: 600px) {
  .checkoutForm {
    flex-direction: column;
  }

  form.checkoutForm > * {
    width: 100%;
  }
}
