.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 5rem;
  position: relative;
}

.card {
  background-color: hsl(131, 94%, 38%);
  font-size: 8rem;
  text-align: center;
  color: transparent;
  border-image: linear-gradient(white, green, black, green) 10;
  border-width: 4px;
  border-style: solid;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.card:hover {
  background-color: hsl(131, 94%, 50%);
  border: red 4px solid;
}

.card.open {
  background-color: black;
  color: white;
}

.card.open:hover {
  cursor: auto;
  border: default;
}

.card.open.matched {
  color: green;
}

.card-answer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: red;
  z-index: 2;
}

.restart {
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  .restart {
    margin-top: 1rem;
  }
}
