.button {
  flex: 1;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue);
  color: black;
  border: 2px solid black;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  z-index: 9999999;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  margin: 5rem 0 0 2rem;
  width: auto;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--blue);
  border: 2px dotted var(--red);
  padding: 1rem;
}

.badroute {
  font-size: 8rem;
  margin-top: 20rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0 2rem 0;
  border-bottom: 2px solid black;
}

nav a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--blue);
  margin: auto;
}

.dropdown-container {
  position: relative;
  margin: auto;
}

.dropdown-button {
  color: var(--blue);
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 95%;
  left: 0;
  z-index: 2;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-top: none;
  min-width: 100%;
  width: auto;
  text-align: center;
}

.dropdown-menu li {
  padding: 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: hsl(0, 0%, 80%);
}

.dropdown-menu li:hover > a {
  text-decoration: underline;
  color: var(--blue);
}

.dropdown-menu a {
  color: #333;
  font-size: 2rem;
  text-decoration: none;
}

@media (max-width: 600px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
