.button {
  flex: 1;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: black;
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue);
  color: black;
  border: 2px solid black;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}

nav a {
  text-decoration: none;
  font-size: 2.5rem;
}

nav a.active {
  background-color: var(--red);
}

#loading {
  background: url("loading.gif") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  margin: 5rem 0 0 2rem;
  width: 30rem;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  border: 2px dotted var(--red);
  padding: 1rem;
}

.badroute {
  font-size: 8rem;
  margin-top: 20rem;
}
