.button {
  flex: 1;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: black;
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue);
  color: black;
  border: 2px solid black;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0 2rem 0;
  border-bottom: 2px solid black;
}

nav a {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  margin: auto;
}

nav a.active {
  color: var(--blue);
}

nav img {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 1rem;
  border: 2px var(--blue) dotted;
}

.loading {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  margin: 5rem 0 0 2rem;
  width: 30rem;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--blue);
  border: 2px dotted var(--red);
  padding: 1rem;
}

.badroute {
  font-size: 8rem;
  margin-top: 20rem;
}
